.bubble {
  @apply absolute flex h-28 w-28 cursor-pointer items-center justify-center rounded-full border-4 border-black bg-blue-300 text-center font-semibold max-[992px]:text-[14px] max-md:h-20 max-md:w-20 dark:border-white dark:text-black;
  transform: translate(-50%, -50%);
}

.bubble:hover {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
  animation: floating 2s ease-out infinite;
}

@keyframes floating {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -60%);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
  }
}

.bubble.main {
  top: 40%;
  left: 50%;
}

/* ===== */

.mbti {
  top: 10%;
  left: 50%;
}

.trait {
  top: 70%;
  left: 50%;
}

/* ===== */

.food {
  top: 40%;
  left: 25%;
}

.music {
  top: 40%;
  left: 75%;
}

/* ===== */

.pet {
  top: 25%;
  left: 63%;
}

.sport {
  top: 25%;
  left: 37%;
}

/* ===== */

.film {
  top: 55%;
  left: 63%;
}

.company {
  top: 55%;
  left: 37%;
}

/* ===== */
